/* Обнуление */
@import "null.css";

/* Подключение шрифтовы */

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");

@font-face {
	font-family: "karlson";
	src: url("../fonts/karlson.woff2") format("woff2"), url("../fonts/karlson.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Codename Coder Free 4F";
	src: url("../fonts/CodenameCoderFree4F-Bold.woff2") format("woff2"), url("../fonts/CodenameCoderFree4F-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* -------------------------------------------------------- */
body {
	font-family: "Montserrat";
	background: url("../img/alpaka.png") right/10% repeat-y, url("../img/alpaka.png") left/ 10% repeat-y, url("../img/akiba.jpg") 0 0/100% 100% fixed;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	background-color: rgba(253, 253, 253, 0.541);
	max-width: 1500px;
	margin: 0 auto;
}

h2 {
	font-size: 40px;
	font-family: "Codename Coder Free 4F";
}

/* --------------------------------------HEADER-------------------------------- */

.header {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.header__logo img {
	width: 50%;
	margin: 0px 0px 10px 0px;
}

.header__title a {
	color: rgb(24, 22, 22);
	font-family: "karlson";
	font-size: 25px;
	font-weight: 500;
	text-decoration: underline;
	margin: 0px 0px 40px 0px;
}

.header__list {
	font-size: 25px;
	border-radius: 10px;
	padding: 20px;
	margin: 0 0 20px 40px;
	max-width: 500px;
	border: 10px solid rgb(255, 255, 255);
	text-align: left;
	background: url("../img/team-list.jpeg") 0 -25px / cover no-repeat;
	color: white;
}

.header__list-ul {
	border-radius: 10px;
	padding: 5px;
	background-color: rgba(47, 43, 45, 0.52);
}
.header__list ul {
	font-weight: 500;

	padding: 10px 0px 0px 10px;
}
.header__list li {
	background: url("../img/pin.png") 0 0 / 22px no-repeat;
	padding-left: 25px;
	padding-bottom: 4px;
}
.header__list a {
	color: white;
}
/* -----------------------------------MAIN----------------------- */

.main {
	margin: 0 auto;
	width: 95%;
}
.main__title {
	background: rgb(238, 241, 241);
	background: radial-gradient(circle, rgba(238, 241, 241, 1) 0%, rgba(210, 210, 212, 1) 35%, rgba(88, 91, 92, 1) 100%);
	padding: 20px;
	margin: 0px auto 40px;
	background-color: white;
	font-size: 25px;
}
.main__title h2 {
	margin: 0 0 20px 0;
}
.bold {
	color: rgb(255, 255, 255);
	font-size: 40px;
	font-weight: 700;
}

.main__gameplay {
	text-align: center;
	color: white;
	padding: 10px;
	background: url("../img/akiba2.jpg") 0 0 / cover fixed;
	font-size: 23px;
	margin: 0 0 20px 0;
}
.gameplay__title {
	border: 6px dashed white;
	padding: 10px 0 10px 0;
	background-color: rgba(47, 43, 45, 0.52);
	margin: 0 0 15px 0;
	font-size: 25px;
}
.gameplay__text {
	padding: 20px;
	border: 6px dotted white;
	line-height: 1.5;
	background-color: rgba(47, 43, 45, 0.52);
}
.main__locale {
	box-shadow: 23px 17px 21px 2px rgba(10, 12, 13, 0.6);
	margin: 0 0 30px 0;
	border: 10px solid white;
	border-radius: 50px;
	padding: 20px;
}
.locale__title {
	background: rgba(47, 43, 45, 0.52) url("../img/pin2.png") 50% 50% / 30px repeat-x;
	text-align: center;
	outline: 4px solid rgb(221, 118, 118);
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}
.locale__title h2 {
	font-size: 40px;
}
.fon {
}
.locale__text {
	background-color: rgba(110, 67, 88, 0.52);
	font-weight: 700;
	line-height: 1.2;
	text-decoration: underline;
	font-size: 30px;
	text-align: right;
}
.locale__text a {
	color: white;
}
.main__characters {
	background: url("../img/cook.jpg") 0 0 / cover fixed;
	margin: 0 auto 30px;
	border: 15px solid rgb(151, 142, 142);
	border-radius: 10px;
	padding: 10px;
	width: 85%;
	max-height: 650px;
	overflow: auto;
}
.main__characters img {
	width: 20%;
}
.characters__title h2 {
	font-size: 40px;
	color: rgb(255, 255, 255);
}
.characters__list {
	padding: 40px;
}
.list__okabe {
	background: rgb(238, 241, 241);
	background: radial-gradient(circle, rgba(238, 241, 241, 1) 0%, rgba(225, 227, 228, 1) 25%, rgba(219, 220, 222, 1) 37%, rgba(210, 210, 212, 1) 46%, rgba(88, 91, 92, 1) 100%);
	padding: 20px;
	border: 10px solid rgb(255, 255, 255);
	border-radius: 20px;
	margin: 0 0 30px 0;
}
.list__okabe img {
	width: 25%;
}
.list__okabe p {
	margin: 200px 0 0 0;
	font-family: "Codename Coder Free 4F";
	text-align: left;
	padding: 0 0 0 40px;
	font-size: 35px;
	display: inline-block;
	width: 50%;
}
.list__kurisu {
	background: rgb(238, 241, 241);
	background: radial-gradient(circle, rgba(238, 241, 241, 1) 0%, rgba(225, 227, 228, 1) 25%, rgba(219, 220, 222, 1) 37%, rgba(210, 210, 212, 1) 46%, rgba(88, 91, 92, 1) 100%);
	padding: 20px;
	border: 10px solid rgb(255, 255, 255);
	border-radius: 20px;
	margin: 0 0 30px 0;
}
.list__kurisu img {
	width: 40%;
}
.list__kurisu p {
	margin: 90px 0 0 0;
	font-family: "Codename Coder Free 4F";
	text-align: left;
	padding: 0 0 0 40px;
	font-size: 35px;
	display: inline-block;
	width: 50%;
}
.list__mauri {
	background: rgb(238, 241, 241);
	background: radial-gradient(circle, rgba(238, 241, 241, 1) 0%, rgba(225, 227, 228, 1) 25%, rgba(219, 220, 222, 1) 37%, rgba(210, 210, 212, 1) 46%, rgba(88, 91, 92, 1) 100%);
	padding: 20px;
	border: 10px solid rgb(255, 255, 255);
	border-radius: 20px;
	margin: 0 0 20px 0;
}
.list__mauri img {
	width: 30%;
}
.list__mauri p {
	margin: 150px 0 0 0;
	font-family: "Codename Coder Free 4F";
	text-align: left;
	padding: 0 0 0 40px;
	font-size: 40px;
	display: inline-block;
	width: 50%;
}
.list__itaru {
	background: rgb(238, 241, 241);
	background: radial-gradient(circle, rgba(238, 241, 241, 1) 0%, rgba(225, 227, 228, 1) 25%, rgba(219, 220, 222, 1) 37%, rgba(210, 210, 212, 1) 46%, rgba(88, 91, 92, 1) 100%);
	padding: 20px;
	border: 10px solid rgb(255, 255, 255);
	border-radius: 20px;
	margin: 0 0 20px 0;
}
.list__itaru img {
	width: 40%;
}
.list__itaru p {
	margin: 20px 0 0 0;
	font-family: "Codename Coder Free 4F";
	text-align: left;
	padding: 0 0 0 40px;
	font-size: 30px;
	display: inline-block;
	width: 50%;
}
.list__suzuha {
	background: rgb(238, 241, 241);
	background: radial-gradient(circle, rgba(238, 241, 241, 1) 0%, rgba(225, 227, 228, 1) 25%, rgba(219, 220, 222, 1) 37%, rgba(210, 210, 212, 1) 46%, rgba(88, 91, 92, 1) 100%);
	padding: 20px;
	border: 10px solid rgb(255, 255, 255);
	border-radius: 20px;
	margin: 0 0 20px 0;
}
.list__suzuha img {
	width: 24%;
}
.list__suzuha p {
	margin: 70px 0 0 0;
	font-family: "Codename Coder Free 4F";
	text-align: left;
	padding: 0 0 0 40px;
	font-size: 35px;
	display: inline-block;
	width: 50%;
}
.list__rukako {
	background: rgb(238, 241, 241);
	background: radial-gradient(circle, rgba(238, 241, 241, 1) 0%, rgba(225, 227, 228, 1) 25%, rgba(219, 220, 222, 1) 37%, rgba(210, 210, 212, 1) 46%, rgba(88, 91, 92, 1) 100%);
	padding: 20px;
	border: 10px solid rgb(255, 255, 255);
	border-radius: 20px;
	margin: 0 0 20px 0;
}
.list__rukako img {
	width: 40%;
}
.list__rukako p {
	margin: 80px 0 0 0;
	font-family: "Codename Coder Free 4F";
	text-align: left;
	padding: 0 0 0 40px;
	font-size: 33px;
	display: inline-block;
	width: 50%;
}

.list__nyan {
	background: rgb(238, 241, 241);
	background: radial-gradient(circle, rgba(238, 241, 241, 1) 0%, rgba(225, 227, 228, 1) 25%, rgba(219, 220, 222, 1) 37%, rgba(210, 210, 212, 1) 46%, rgba(88, 91, 92, 1) 100%);
	padding: 20px;
	border: 10px solid rgb(255, 255, 255);
	border-radius: 20px;
	margin: 0 0 20px 0;
}
.list__nyan img {
	width: 40%;
}
.list__nyan p {
	margin: 50px 0 0 0;
	font-family: "Codename Coder Free 4F";
	text-align: left;
	padding: 0 0 0 40px;
	font-size: 30px;
	display: inline-block;
	width: 50%;
}
.list__moeka {
	background: rgb(238, 241, 241);
	background: radial-gradient(circle, rgba(238, 241, 241, 1) 0%, rgba(225, 227, 228, 1) 25%, rgba(219, 220, 222, 1) 37%, rgba(210, 210, 212, 1) 46%, rgba(88, 91, 92, 1) 100%);
	padding: 20px;
	border: 10px solid rgb(255, 255, 255);
	border-radius: 20px;
	margin: 0 0 20px 0;
}
.list__moeka img {
	width: 25%;
}
.list__moeka p {
	margin: 80px 0 0 0;
	font-family: "Codename Coder Free 4F";
	text-align: left;
	padding: 0 0 0 40px;
	font-size: 33px;
	display: inline-block;
	width: 50%;
}
.main__story {
	height: 400px;
	overflow: auto;
	margin: 0px auto 30px;
	width: 90%;
	font-size: 25px;
	background: url("../img/happy.jpg") 0 0 / contain local;
}

.main__story p {
	background-color: rgba(8, 8, 8, 0.5);
	color: white;
	line-height: 1.2;
	padding: 20px;
	text-align: center;
	font-size: 30px;
}
.main__story h2 {
	letter-spacing: 5px;
	text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #f00;
	background-color: rgba(8, 8, 8, 0.5);
	color: rgb(255, 255, 255);
	text-align: center;
}

/* --------------------------------------FOOTER---------------------------------------------- */
.footer__image {
	width: 100%;
	margin: 0 0 20px 0;
	text-align: center;
}
.footer__image img {
	border-radius: 20px;
	border: 4px solid white;
	width: 40%;
	max-height: 300px;
}

.footer__btn {
	background: url("../img/cook.jpg") 0 0 / cover local;
	max-width: 200px;
	padding: 30px;
	margin: 0 auto;
	border: 4px dashed white;
	border-radius: 40px;
	font-size: 40px;
	text-align: center;
}

.footer__btn a {
	border-radius: 10px;
	background-color: rgba(19, 17, 17, 0.753);
	color: white;
}
